<h2>Escolha um dos destinos abaixo</h2>

<%= simple_form_for @first_choices, url: up_vote_path do |f| %>

  <%= f.input :id, as: :radio_buttons, collection: @first_choices %>

  <%= f.button :submit, class: "btn-primary" %>
  
<% end %>
