<div class="container">
  <h2>Qual destes lugares você gosta mais?</h2>

  <%= simple_form_for @first_choices, url: up_vote_path do |f| %>

    <%= f.input :id, label: '', as: :radio_buttons, collection: @first_choices %>

    <%= f.button :submit, 'Votar', class:"btn btn-primary btn-lg" %>
    
  <% end %>
</div>
